body {
    background-color: #f5f5f5;
    font-family: sans-serif;
    font-size: 25px;
}

input {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 25px;
}

input[type="text"]:focus {
    border: solid 1px #a88;
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
}

button {
    background-color: #fff;
    border: solid 1px #eee;
    border-radius: 0.5em;
    color: #aaa;
    font-size: 13px;
    padding: 0.4em 0.5em;
}

button:hover {
    border: solid 1px #a88;
}

del {
    color: #aaa;
}

#todo-app {
    max-width: 600px;
    margin: 0 auto;
}

#app-title {
    color: #a88;
    font-size: 3.5em;
    font-weight: 100;
    margin: 10px;
    text-align: center;
}

#header-controls {
    background-color: #fefefe;
}

#todo-list, #footer-controls {
    background-color: #fff;
}

#todo-list > ul {
    margin: 0;
}

.todo-entry {
    align-items: center;
    display: flex;
    list-style-type: none;
}

.todo-description {
    width: 100%;
}

#header-controls, #footer-controls {
    align-items: center;
    display: flex;
}

#footer-controls {
    padding: 0 0.5em;
}

#new-input {
    width: 100%;
}

#todo-list > ul {
    padding-left: 0;
}

#left-items, #filter-buttons, #clear-completed {
    display: inline-block;
    width: 100%;
}

#left-items[hidden], #clear-completed[hidden] {
    visibility: hidden;
}

#left-items {
    color: #aaa;
    font-size: 15px;
}

#filter-buttons > button {
    margin: 0.4em 0.2em;
}

.selected-filter {
    background-color: #a88;
    border-color: #a88;
    color: #eee;
}

#clear-completed {
    text-align: right;
}
